@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

#root {
  height: 100%;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Inter", sans-serif;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 277px 0 277px;
  background: rgba(229, 229, 229, 0.04);
}

.product_list .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product_list .catalog .catalog_header .navigation_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px 0 50px 0;
}
.product_list .catalog .catalog_header .navigation_bar div {
  padding-right: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #3F4E65;
  opacity: 0.5;
}
.product_list .catalog .catalog_header .navigation_bar .navigation_home {
  opacity: 1;
}
.product_list .catalog .catalog_header .catalog_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product_list .catalog .catalog_header .catalog_line .catalog_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
}
.product_list .catalog .catalog_header .catalog_line .sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 400;
  font-size: 16px;
  color: #3F4E65;
  margin-top: 21px;
}
.product_list .catalog .catalog_header .catalog_line .sorting .sorting_title {
  font-weight: 500;
  color: #111111;
  margin-right: 5px;
}
.product_list .catalog .catalog_header .catalog_line .sorting .sorting_sort {
  width: 70px;
}
.product_list .catalog .catalog_header .catalog_line .sorting .sorting_sort select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.product_list .catalog .catalog_header .catalog_line .sorting .sorting_sort select:not([multiple]) {
  background-image: url("/public/img/Polygon 5.png");
  background-position: calc(85% - 0.25em) 0.5em;
  background-repeat: no-repeat;
}
.product_list .catalog .catalog_header .catalog_types .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_list .catalog .catalog_header .catalog_types .products span {
  min-width: 100px;
  max-width: 120px;
  height: 70px;
  background: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #3F4E65;
  padding: 18px 19px 18px 19px;
  margin: 25px 11px 50px 0;
  -webkit-box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
          box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
.product_list .catalog .catalog_header .catalog_types .products span:active:hover {
  background: rgba(255, 200, 94, 0.5);
}
.product_list .catalog .catalog_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_list .catalog .catalog_content .filter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product_list .catalog .catalog_content .filter .catalog_filter_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  text-transform: uppercase;
}
.product_list .catalog .catalog_content .filter .filter_manuf .filter_manuf_title {
  font-weight: 500;
  font-size: 16px;
  color: #111111;
  margin: 30px 0 15px 0;
}
.product_list .catalog .catalog_content .filter .filter_manuf .filter_manuf_checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  margin-bottom: 5px;
}
.product_list .catalog .catalog_content .filter .filter_manuf .filter_manuf_checkbox input {
  margin-right: 10px;
}
.product_list .catalog .catalog_content .filter .filter_manuf .filter_manuf_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 13px 0;
  gap: 10px;
  margin-bottom: 15px;
}
.product_list .catalog .catalog_content .filter .filter_manuf .filter_manuf_search button {
  width: 39px;
  height: 39px;
  background-color: #FFC85E;
  border-radius: 50%;
  position: absolute;
  margin-left: 214px;
}
.product_list .catalog .catalog_content .filter .filter_manuf .filter_manuf_search input {
  width: 263px;
  height: 59px;
  background: #EDEDED;
  border-radius: 36px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #5C6370;
  padding: 0 0 0 15px;
}
.product_list .catalog .catalog_content .filter .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product_list .catalog .catalog_content .filter .products span {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #111111;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgba(63, 78, 101, 0.1);
}
.product_list .catalog .catalog_content .filter .filter_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 40px;
}
.product_list .catalog .catalog_content .filter .filter_buttons .button_show {
  width: 169px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background: #FFC85E;
  border-radius: 79px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.product_list .catalog .catalog_content .filter .filter_buttons .button_delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background: #FFC85E;
  border-radius: 79px;
}
.product_list .catalog .catalog_content .filter .filter_price .filter_price_title {
  margin: 10px 0 16px 0;
}
.product_list .catalog .catalog_content .filter .filter_price input {
  width: 100px;
  height: 23px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #3F4E65;
  margin: 0 10px 0 10px;
}
.product_list .catalog .catalog_content .catalog_product .list .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 50px 0;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 326px;
  max-height: 490px;
  left: 623px;
  top: 455px;
  padding: 30px 21px 29px 23px;
  margin: 21px 0 0 21px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  cursor: pointer;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_size {
  font-size: 12px;
  color: #3F4E65;
  margin-top: -8px;
  margin-bottom: 10px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_size img {
  opacity: 0.3;
  margin-right: 5px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_info {
  font-weight: 300;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_strong {
  font-weight: 500;
  font-size: 14px;
  color: #111111;
  margin-left: 5px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_name {
  width: 282px;
  height: 42px;
  margin-bottom: 25px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_name .product_brand_strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-right: 5px;
  float: left;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_price .product_price_n {
  margin-right: 40px;
  font-weight: 800;
  font-size: 16px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_price button {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  gap: 5px;
  background: #FFC85E;
  border-radius: 80px;
  margin-right: 20px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_price .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_price .counter .counter_result {
  font-weight: 500;
  font-size: 14px;
  width: 25px;
}
.product_list .catalog .catalog_content .catalog_product .list .products .product .product_price .counter .counter_minus, .product_list .catalog .catalog_content .catalog_product .list .products .product .product_price .counter .counter_plus {
  width: 34px;
  height: 23px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  text-align: center;
}
.product_list .page_product {
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 127px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product_list .page_product .page_product_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.product_list .page_product .page_product_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}
.product_list .page_product .page_product_info .specif_character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
  margin-bottom: 5px;
}
.product_list .page_product .page_product_info .specif_character .specif_character_title {
  font-weight: 300;
  color: #3F4E65;
  margin-right: 5px;
}
.product_list .page_product .page_product_info .page_product_name {
  font-size: 30px;
  line-height: 150%;
  color: #111111;
  margin-bottom: 10px;
}
.product_list .page_product .page_product_info .page_product_name .page_product_name_strong {
  font-weight: 800;
  margin-right: 5px;
  float: left;
}
.product_list .page_product .page_product_info .page_product_size {
  font-size: 12px;
  line-height: 130%;
  color: #3F4E65;
}
.product_list .page_product .page_product_info .page_product_size img {
  opacity: 0.3;
  margin-right: 5px;
}
.product_list .page_product .page_product_info .page_product_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
  margin: 25px 0 30px 0;
}
.product_list .page_product .page_product_info .page_product_price .price_counter {
  font-weight: 300;
  font-size: 12px;
  color: #3F4E65;
  margin: 0 38px 0 40px;
}
.product_list .page_product .page_product_info .page_product_price .price_counter .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_list .page_product .page_product_info .page_product_price .price_counter .counter .counter_result {
  font-weight: 500;
  font-size: 14px;
  margin: 0 21px 0 17px;
}
.product_list .page_product .page_product_info .page_product_price .price_counter .counter .counter_minus, .product_list .page_product .page_product_info .page_product_price .price_counter .counter .counter_plus {
  width: 34px;
  height: 23px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  text-align: center;
}
.product_list .page_product .page_product_info .page_product_price .page_product_basket {
  width: 184px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.product_list .page_product .page_product_info .product_other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_list .page_product .page_product_info .product_other .product_other_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 77px;
  margin: 0 10px 35px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
          box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  color: #3F4E65;
  line-height: 150%;
}
.product_list .page_product .page_product_info .product_other .product_other_share {
  width: 77px;
}
.product_list .page_product .page_product_info .product_other .product_other_info {
  padding: 20.5px 35.5px;
  width: 316px;
  text-align: center;
  font-size: 12px;
}
.product_list .page_product .page_product_info .product_other .product_other_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 186px;
  font-weight: 700;
  font-size: 14px;
}
.product_list .page_product .page_product_info .product_info .product_info_short {
  margin-bottom: 30px;
}
.product_list .page_product .page_product_info .product_info .product_info_desc {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.product_list .page_product .page_product_info .product_info .product_info_desc .desc_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin-bottom: 10px;
}
.product_list .page_product .page_product_info .product_info .product_info_desc .desc_text {
  width: 611px;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin-bottom: 20px;
}
.product_list .page_product .page_product_info .product_info .product_info_desc .line {
  width: 269.5px;
  border-bottom: 1px dashed #3F4E65;
  opacity: 0.2;
}
.product_list .page_product .page_product_info .product_info .product_info_specification .specif_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin: 20px 0 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(63, 78, 101, 0.1);
  padding: 14px 0 13px 0;
}
header .header_info .header_info_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 277px;
}
header .header_info .header_info_address .info_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_info .header_info_address .info_address img {
  width: 16px;
  height: 18px;
  margin-right: 16px;
}
header .header_info .header_info_address .info_address .info_address_text {
  width: 240px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130.02%;
  color: #3F4E65;
}
header .header_info .header_info_address .info_address .info_address_text .text_strong {
  font-weight: bold;
  color: #111111;
}
header .header_info .header_info_address .info_address_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0 13px 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_info .header_info_address .info_address_email img {
  width: 18px;
  height: 14px;
  margin-right: 17px;
}
header .header_info .header_info_address .info_address_email .info_address_email_text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #3F4E65;
}
header .header_info .header_info_address .info_address_email .info_address_email_text .text_strong {
  font-weight: bold;
  color: #111111;
}
header .header_info .header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  padding-right: 277px;
}
header .header_info .header_link div {
  padding: 0 0 0 60px;
}
header .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(63, 78, 101, 0.2);
}
header .header_menu .header_menu_logo {
  padding: 0 0 0 277px;
}
header .header_menu .header_menu_catalog {
  width: 192px;
  height: 59px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background-color: #FFC85E;
  border-radius: 79px;
}
header .header_menu .header_menu_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 10px 13px 20px;
  gap: 10px;
}
header .header_menu .header_menu_search button {
  width: 39px;
  height: 39px;
  background-color: #FFC85E;
  border-radius: 50%;
  position: absolute;
  margin-left: 214px;
}
header .header_menu .header_menu_search input {
  width: 263px;
  height: 59px;
  background: #EDEDED;
  border-radius: 36px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #5C6370;
  opacity: 0.6;
  padding: 0 0 0 15px;
}
header .header_menu .header_menu_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_menu .header_menu_contact .contact_phone {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
  text-align: right;
}
header .header_menu .header_menu_contact .contact_mode {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  text-align: right;
}
header .header_menu .header_menu_contact .contact_call {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-color: rgba(63, 78, 101, 0.4);
  color: #3F4E65;
  text-align: right;
}
header .header_menu .header_menu_contact .contact_foto {
  width: 74px;
  height: 113px;
  padding-left: 10px;
}
header .header_menu .header_menu_contact .contact_foto img {
  border-radius: 45%;
}
header .header_menu .header_menu_price button {
  width: 200px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background: #FFC85E;
  border-radius: 79px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
header .header_menu .header_menu_basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 277px 0 0;
}
header .header_menu .header_menu_basket .basket_button {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
header .header_menu .header_menu_basket .basket_button .circle {
  margin: -5px 0 0 22px;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #FFC85E;
  border: 3px solid #FFFFFF;
}
header .header_menu .header_menu_basket .basket_button button {
  background-color: #FFFFFF;
}
header .header_menu .header_menu_basket .basket {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin-left: 14px;
}
header .header_menu .header_menu_basket .basket_sum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}

footer {
  padding: 0 277px 0 277px;
  height: 500px;
  background-color: #3F4E65;
  color: #FFFFFF;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer .footer_style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
footer .footer .footer_style .footer_title {
  padding: 71px 0 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}
footer .footer .footer_style .padding {
  padding-bottom: 20px;
}
footer .footer .footer_style .footer_info_text {
  width: 320px;
  height: 96px;
  margin-bottom: 45px;
}
footer .footer .footer_style .footer_price_button {
  width: 200px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 19px;
  margin-bottom: 20px;
  gap: 12px;
  background: #FFC85E;
  border-radius: 79px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
footer .footer .footer_style .footer_price_messenger .messenger_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
footer .footer .footer_style .footer_price_messenger .messenger_button .messenger_whatsapp {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: url("/public/img/WA.png");
  margin-right: 10px;
}
footer .footer .footer_style .footer_price_messenger .messenger_button .messenger_telegram {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: url("/public/img/Telegram.png");
}
footer .footer_info .footer_info_logo {
  margin: 71px 0 15px 0;
}
footer .footer_info .footer_info_text {
  width: 320px;
  height: 96px;
  margin-bottom: 45px;
  font-size: 16px;
}
footer .footer_info .footer_info_subscription {
  font-size: 12px;
}
footer .footer_info .footer_info_subscription .subscription_entry_field {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_info .footer_info_subscription .subscription_entry_field button {
  width: 39px;
  height: 39px;
  background-color: #FFC85E;
  border-radius: 50%;
  position: absolute;
  margin-left: 214px;
}
footer .footer_info .footer_info_subscription .subscription_entry_field input {
  width: 263px;
  height: 59px;
  background: #EDEDED;
  border-radius: 36px;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #5C6370;
  padding: 0 0 0 15px;
}
footer .footer_contact .footer_strong_text {
  font-weight: 600;
  font-size: 14px;
}
footer .footer_contact .footer_contact_block1 {
  padding-bottom: 5px;
  margin-bottom: 25px;
}
footer .footer_contact .footer_contact_block1 .footer_contact_call {
  font-weight: 400;
  font-size: 10px;
  text-decoration-line: underline;
}
footer .footer_contact .footer_contact_mail {
  margin-bottom: 25px;
}
footer .footer_contact .footer_contact_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_contact .footer_contact_card .contact_visa {
  margin-right: 5px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pages .page_back {
  width: 9px;
  height: 16px;
  background: url("/public/img/back.png");
  margin-right: 35px;
}
.pages .page_next {
  width: 9px;
  height: 16px;
  background: url("/public/img/next.png");
  margin-left: 12px;
}
.pages .page_current {
  padding-top: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
}
.pages .page {
  margin-right: 23px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #3F4E65;
  cursor: pointer;
}

.pages_none {
  display: none;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  width: 910px;
  margin: 50px 0 203px 20px;
}